body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 2vw;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 2vw;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  body{
      margin: 0px;
  }

  .googlePacifico {
    font-family: 'GooglePacifico';
  }

  .schoolHeader h5 {
    font-size: 3vw;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
  }

  .schoolHeader h6 {
    font-size: 1vw;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
  }

  /* Float four columns side by side */
.column-4 {
  float: left;
  width: 25%;
  /* padding: 10px; */
}
.column-4 p {
  text-align: justify;
  padding: 0 2%;
}
.column {
  float: left;
  width: 100%;
  /* padding: 10px; */
}
.column p{
  text-align: justify;
  padding: 0 2%;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .column-4 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 2% 5%;
}

  @font-face {
    font-family: "GooglePacifico";
    src: url("../assets/fonts/Pacifico/Pacifico-Regular.ttf")
    }